@model ModelClasses.ViewModel.SummeryVM

<div class="PaddingAll bg-secondary" style="border: 1px solid">
    <form asp-action="Summery" asp-controller="Order" method="post">
        <input asp-for="@Model.cartUserId" hidden />
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-12 p-2">
                <div class="p-2 bg-secondary text-white fw-bold shadowingBorder">
                    <h6 class="text-info text-black text-center">Customer Details</h6>
                    <hr />
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row mb-2">
                        <div class="col-5">
                            <label asp-for="orderSummery.Name"></label>
                        </div>
                        <div class="col-7">
                            <input asp-for="orderSummery.Name" class="form-control" />
                            <span asp-validation-for="orderSummery.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5">
                            <label asp-for="orderSummery.PhoneNumber"></label>
                        </div>
                        <div class="col-7">
                            <input asp-for="orderSummery.PhoneNumber" class="form-control" required />
                            <span asp-validation-for="orderSummery.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5">
                            <label asp-for="orderSummery.DeliveryStreetAddress"></label>
                        </div>
                        <div class="col-7">
                            <input asp-for="orderSummery.DeliveryStreetAddress" class="form-control" />
                            <span asp-validation-for="orderSummery.DeliveryStreetAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5">
                            <label asp-for="orderSummery.City"></label>
                        </div>
                        <div class="col-7">
                            <input asp-for="orderSummery.City" class="form-control" />
                            <span asp-validation-for="orderSummery.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5">
                            <label asp-for="orderSummery.State"></label>
                        </div>
                        <div class="col-7">
                            <input asp-for="orderSummery.State" class="form-control" />
                            <span asp-validation-for="orderSummery.State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5">
                            <label asp-for="orderSummery.PostalCode"></label>
                        </div>
                        <div class="col-7">
                            <input asp-for="orderSummery.PostalCode" class="form-control" required />
                            <span asp-validation-for="orderSummery.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5">
                            <label asp-for="orderSummery.DateOfOrder">Date Of Order</label>
                        </div>
                        <div class="col-7">
                            <label asp-for="orderSummery.DateOfOrder"><strong class="text-warning">@DateTime.Now.ToShortDateString()</strong></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-12 p-2">
                <div class="p-2 bg-white shadowingBorder" id="list-example">
                    <h6 class="text-info text-black text-center">Shopping Cart Details</h6>
                    <hr />
                    @{
                        double totalOrderPrice = 0.0;
                    }
                    <div class="text-center overflow-scroll" style="height: 285px">
                        @foreach (var item in Model.userCartList)
                        {
                            <div class="row border-start-0">
                                <div class="col-5">
                                    @item.product.Name
                                </div>
                                <div class="col-4 text-start">
                                    <label class="font-weight-bold"><strong>@item.Quantity pcs * $@item.product.Price</strong></label>
                                </div>
                                @{
                                    double setDecimal = item.Quantity * item.product.Price;
                                    totalOrderPrice += setDecimal;
                                }
                                <div class="col-3 text-right">
                                    <label class="font-weight-bold"><strong>$@Math.Round(setDecimal, 2)</strong></label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="row bg-white p-2 shadowingBorder">
            <div class="col text-end">
                <div class="row pb-1">
                    <div class="col-6">
                        <label>SubTotals:</label>
                    </div>
                    <div class="col-6">
                        <strong><input class="form-control text-info text-right font-weight-bold" value="$@totalOrderPrice" readonly /></strong>
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="col-6">
                        <label>Sales Tax:</label>
                    </div>
                    <div class="col-6">
                        @{
                            double salesTax = 0.0;
                        }
                        <strong><input class="form-control text-info text-right font-weight-bold" value="$@salesTax" readonly /></strong>
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="col-6">
                        <label>Total Bills:</label>
                    </div>
                    <div class="col-6">
                        @{
                            double Totalbils = Math.Round(@totalOrderPrice + salesTax, 2);
                        }
                        <strong><input class="form-control text-info text-right font-weight-bold" id="totalBills" asp-for="@Totalbils" readonly /></strong>
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="col-6">
                        <label>Payment Options:</label>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <select id="chosePaymentMethod" class="form-control rounded-left">
                                <option value="0" class="border-success">Please select</option>
                                <option value="1" class="border-success">Cash</option>
                                <option value="2" class="border-success">Credit</option>
                                <option value="3" class="border-success">Check</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="CreditPayWarning" style="display:none">
                    <p class="text-danger">If you pay by credit card, a 2.9% + .30c Cash charge will be applied to your order.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit Order</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
